.title > input{
    all:inherit;
    font-weight: bolder;
    color: black;
}

.wish_item > input{
    color: black;
    all:inherit;
    border:none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
}

input::placeholder{
    color: #DBDBDB;
}

button{
    font-family: 'Times New Roman', Times, serif;
    size: 100px;
    width: 100%;
    font-size: 20px;;
    text-align: center;
    color: black;
    background-color: #f3ffff;
    border: 2px solid #bfe6fc;
}