.title{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

.all_app{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

