.wish_item{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    background-color: #f3ffff;
    padding: 10px;
    margin: 10px;
    width:  200px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid #bfe6fc;
    box-shadow: 5px 5px 20px #bfe6fc;
}

.wish_item:hover{
    border: 2px solid #18aae2;
}

.wish_item > .title{
    all: inherit;
    border:none;
    box-shadow: none;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    overflow: unset;
    word-wrap: break-word;
}

